.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
}

.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}


.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.carousel-caption h5 {
 margin-bottom: 100%;
 font-style: italic;
}

.carousel-caption {
    top: 0;
}

/* Ajoutez ces styles à votre feuille de style CSS */

.portfolio-item-container {
    border: 1px solid #f8f9fa;
    /* Couleur de la bordure stylée */
    border-radius: 10px;
    /* Bordure arrondie */
    padding: 20px;
    /* Espace intérieur */
}

.portfolio-divider {
    width: 100%;
    height: 2px;
    background-color: #343a40;
    /* Couleur de la bordure */
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.portfolio {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


/** 
 * ===================================================================
 * 09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */
header {
    position: fixed;
    width: 5%;
    min-height: 66px;
    z-index: 600;
    margin-top: 15px;


}

header .row {
    position: relative;
    min-height: 66px;
}

header .top-bar {
    display: block;
    background: #000000;
    min-width: 100px;
    min-height: 65px;
    position: absolute;
    left: 90px;
    top: 0;
    border: 2px solid #65009A;
    border-radius: 5px;

}

header .top-bar h3 {

    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

header .top-bar h3:hover {

    color: #65009A;
    text-decoration: none;


}

header .top-bar a {

    text-decoration: none;
}


.return h3:hover {
    color: #65009A;
}

body {

    background-color: #313131;
}